@page
@model FinanceWeb.Pages.PaymentTypes.ListModel
@{
    ViewData["Title"] = "PaymentType";
}

<h1>Payment Types</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Long Description</th>
        </tr>
    </thead>
    @foreach (var paymentType in Model.PaymentTypes)
    {
<tr>
    <td>@paymentType.Id</td>
    <td>@paymentType.Description</td>
    <td>@paymentType.LongDescription</td>
    <td>
        <a class="btn btn-primary" asp-page="./Detail" asp-route-paymentTypeId="@paymentType.Id">
            Detail
        </a>
    </td>
    <td>
        <a class="btn btn-primary" asp-page="./Edit" asp-route-paymentTypeId="@paymentType.Id">
            Edit
        </a>
    </td>
</tr>
    }

</table>